html, body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
        width:100%;
        height:100%;
        /*overflow:hidden;*/
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header.ui-header, footer.ui-footer {
    position: absolute;
    width:100%;
    z-index: 999;
}
/*.ui-popup-container .ui-popup .ui-header, .ui-footer {
    position: relative;
    width: auto;
}*/
.ui-header {
    top:0;
}
.ui-footer {
    bottom:0;
}
.page {
    padding-top:78px;
    background: #fff;
    overflow: hidden;
}
#page1 {
    width:100%;
    height:100%;
    overflow:hidden;
    padding:0 !important;
    margin:0;
}
#page3 {
    padding-top:78px;
    background: white;
    overflow: hidden;
}
#map-container {
    width:100%;
    height:100%;
    padding: 78px 0 0 0;
    margin: 0;
    overflow: hidden;
}
.map_canvas {  
    width:100%;
    height:100%;
    padding:0;
    margin: 0;
}
.top-menu-pois {
    width:165px;
    position:absolute;
    left:4px;
    top:3px;
    padding:0;
    margin:0;
    overflow: hidden;
    display:inline-block;
}
#view-switch, #view-switch-p2 {
    padding:0;
    margin:0;
    text-align: center;
}
#map-filter {
    background:black;
    display:none;
    position: absolute;
    width:100%;
    overflow:hidden;
    z-index:99;
    padding-top:85px;
    padding-bottom:60px;
    height:160px;
}
#map-filter div.filters-list {
    width:100%;
    overflow:auto;
    height:160px;
}
#map-filter div.filters-list fieldset {
    padding-left: 5%;
    width: 90%;
    overflow: hidden;
}
.filter-footer {
    position:absolute !important;
    bottom:0;
    height:40px;
    border:0;
}
.list-container {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    /*border:2px solid #668953;*/
    margin: 2%;
    overflow: hidden;
}
#page3 .list-container {
    margin:0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.list-scroll-container {
    overflow: hidden;
    /*overflow: auto;*/
    background: #009600;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#page3 .list-container .list-scroll-container {
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#list {
    margin: 3%;
    overflow: hidden;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#list .ui-li .ui-btn-inner a.ui-link-inherit, #list .ui-li-static.ui-li {
    padding: 0 15px 0 4em;
    width:85%;
}
#list form {
    background: #009600;
}
#list form input {
    /*color:white;*/
}
#list ul li {
    padding-top:.5%;
    padding-bottom:.5%;
    border-bottom: 1px solid #90B17E;
}
#list ul li.ui-btn-up-b {
    background: #009600;
    background-image: none !important;
    border-top-width: 0;
}
#list ul li .ui-li {
    border-top-width: 0;
    
}
#list ul li .ui-li div a h3 {
    margin:0;
    padding-bottom:7px;
    text-shadow: none;
    color:white;
}
#list ul li .ui-li div a h4 {
    margin:0;
    padding:0 0 7px 0;
    font-size:12px;
    text-shadow: none;
    color:white;
}
#list ul li .ui-li div a p {
    color: #6aa7d2;
    text-shadow: none;
    color:white;
}
#list.poi ul li .ui-li div a img {
    padding:.8% 1% 1% 1%;
}
.ui-btn-hover-b {
    border:0;
    background:#BCBDDC;
}
#item {
    margin: 0;
    overflow: hidden;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#item.ui-content {
    padding: 0;
}
#item .poi-data ul li h1 {
    font-size:100%;
    color: #212121;
    text-shadow: none;
    text-align: left;
    width:100%;
    font-weight:bold;
}
#item .poi-data ul li p {
    font-size:100%;
    color: #212121;
    text-shadow: none;
    text-align: left;
    width:94%;
    padding: 0 3% 0 3%;
    font-weight:normal;
}
#item .poi-data {
    margin: auto;
    width:100%;
    padding: 0;
    overflow: hidden;
}
#item .poi-data ul {
    padding: 0;
    margin: 0;
}
#item .poi-data ul li {
    width:94%;
    padding: 1% 3% 0 3%;
    margin: 0;
    font-weight: normal;
    line-height: 150%;
    text-shadow: none;
    color:#212121;
}
#item .poi-data ul li.image {
    border-bottom: 0;
    width:100%;
    padding:0;
}
#item .poi-data ul li span {
    font-weight: bold;
    width:100px;
    display: inline-block;
    color:#212121;
}
#item .poi-data ul li img {
    width: 100%;
    height: auto;
}
#item .poi-data ul li span.image-icon {
    width:30px;
    display:block;
    float:left;
}
#item .poi-data ul li span.image-text {
    color: #212121;
    font-weight: bold;
    line-height: 150%;
    text-shadow: none;
    width: 85%;
}
#item .poi-data ul li span.image-text a {
    text-decoration: none;
    color: #212121;
}
#item .poi-data ul li span.image-icon img {
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
}
#map-filter.ui-content {
    padding-left:0;
    padding-right:0;
}
.info {
    float:left;
    width:80%;
}
.slots {
    width:20%;
    overflow:hidden;
    line-height: 62px;
}
.slots p {
    font-weight: bold;
    font-size:110%;
    padding:0;
    margin:0;
    text-align: center;
}
#bubbleClose {
    width:25px;
    height:25px;
    display:inline-block;
    /*
    padding-top:5px;
    padding-right:5px;
    */
    float: right;
    padding: 0 0 3px 6px;
}
#poiBubble
{
    /*
    padding:15px;
    width:170px;
    */
    padding:5px;
    width:220px;
    text-shadow:none;
    float:left;
    max-height:100%;
    overflow-y:auto;
}
#poiBubble img {
    max-width:90%;
}
#poiBubble a {
    text-decoration: none;
}
#poiBubble a .title
{
    font-size:14px;
    color:#fff;  
    font-weight: bold;
}

#poiBubble a .address{
    font-size:11px;
    color:#fff; 
}

#poiBubble a .tel
{
    font-size:11px;
    color:#3876C6;   
    background: #ff00ff;
}

#poiBubble a .website
{
    font-size:11px;
    color:#CC76C6;    
}

#poiBubble a .category
{
    font-size:11px;
    color:#009600;    
}
.favourites-button {
    position:absolute;
    top:-3px;
    margin:0;
    padding:0;
}
.favourites-button div div input {
    left:8px !important;
}
.favourites-button div div label {
    width:auto;
    height:auto;
    top:auto;
}
.favourites-button div div label span span.ui-icon-checkbox-on {
    background-position:-468px 50%;
}
.newPoiDialogFooter {
    height:42px;
}

/* List pagination markup */
.list-pagination-container {
  text-align: center;
}
.list-pagination-container > .ui-icon {
  display: inline-block;
  margin: 0px 11px 20px 11px;
}


/*Overload jquery ui css*/
.ui-bar-a {
    background: #009600;
}
#page3 footer {
    text-align: center;
}
#page3 footer {
    display:none;
}
#page1 footer {
    text-align: center;
}
.ui-btn-up-a {
  background: #009600 !important;
}
.ui-btn-active {
  text-shadow: 1px solid black !important;
  background: #63D931 !important;
}
/*Overload jquery ui css*/

/* Load pin images as data uris */
.pin0 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/1.png');
}

.pin1 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/2.png');
}
.pin2 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/3.png');
}
.pin3 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/4.png');
}
.pin4 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/5.png');
}
.pin5 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/6.png');
}
.pin6 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/7.png');
}
.pin7 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/8.png');
}
.pin8 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/9.png');
}
.pin9 {
    width: 43px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('../images/trees/10.png');
}
.star {
    width: 43px;
    height: 43px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAArCAYAAADhXXHAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAB1dJREFUeNrMWWtMk2cUPr1foVAo5VK5g6CggOJtTnFemLdFFLNk2bIf0yxZNC5bzH7slvlriXHJMn8uxv3YlgUV4nRmMkGdiKI4NmSbN/ACCJYiFFpaaOme89FOuRVp6+VNTuj39ev7Pt95z3nOc15EMQYphXCIYTWwRbALsJdgw6GcPFRjJuwgLN97ne+9nvkigk2EvQVTeK8V3uvEFxGsY5r3pz3GBWzjH1vHPyWaeqL8+YetcXFq2v3hXFpRFE/XrvfQF3vqqbNzwHaqcsPUE3jG38rNLwvAsx7/lptXVmI0qvauW5tIuTl64V56qo62lqZSeLhsL38/1RzPMgxWKeSS1fMKokkXLhduSCQiWrzISHK55BX+/oWJWQDrVSjEZO0dJOegW7g3NDRMZrODVCopyWTi3qcSs4GMzAyduHB+DGVk6EilHJlSKhUTx3DR8jhSKiXq5+dZ0YghASSwj2QyycasrAgyJWiF7RcewR99pILy86LhXck6fo6f9/32eYQBu3EnwMxiYHL56OnEYhFF4r5SKc3A553B7mRQYNPTwj1ajcwcG6smrVZGbvfotPZ4RjwcE6Oi6GilhZ9/9mC9dFN+qNiVnh4uWVAYQzMzIwRPjooWXMYa1bRoQQzNn2dQlB8udk+HqkLmWcRfFOwreDNBq5FyEgngxg4wAel0cgYYC77dx78LJuZW+asafsZihUKyKypKSRqNzO+D8hHAOoTKrv7+IQvWqA0UbOXjN3hxkZ+d4u8cTjfJQE0pqWFCaU1LC/e7SHy8hpYsNlJHp50aG7v3DDhcAsVNtoYvmsxdDv88u2tHDmnDZGS3uyZdnAmfwRoMKsrM1FFkhMIvWC4MTGEReK61tZ8cDrysfPIIRNKSDet//GndaEdBfI96wSt1WwSuHBycXDN7kOYiBChT1dikmmpwhXO7PH5/x/MysxQsODzOs2c5VGGRvprOE3HCPI0BDQE0T5D5o1/mIQtC3ovlsKO+MP2rsZucTjc9z8H83Npqe5woGd9yiUYjxE4DbAD2ci/ECGd3SnLYcwPbeNVCZYeb6WpTN19+CdsH6/GB7YFd47dob7cvMXcNUBikXkrKMwYsYqDd9P0PN+n0mXZORAb5DeyuEKJesDyssJMI7Jy2NpvVah0SQ4uGcUio1FLWpU8NI7PD7Tv9Qndx6EhL58nfWpvABtwdb/fi+p8NJtRUqDwlSIZDCQka2v5OFhWvmfHUwF642EnfHviXmpoekn3AVbpqZULFycrW4bF0Pw6srwdDleEYWI6sPDIrO1JWuiWVXtuYJPzcxxiBjuHhEQwizMHbXXaomeouPRjCLm7G7TPA0DdRNZ1Usgk/ENEx1PPdCHSjVCoqaG62FgM4FRYaKAYFIdBhs7nAOhYGSC23+6rw9xKA3m9s2HrMn8iZUl8C9Nfet1zc8KelePVKk1BegwE7MOCiS5fNdOAg5zR9ApC1T6LEpqO69NyqqKGwpBJRcEmP7YdgFxQZzxua7tYztqqMSD5xkGA53PnF2aY6OwioYYTatxuilYIgidIrgwLLRYfFen5eFHV0DDhDKr4Rr3EqpWRedlYkK/4RMR3EYN2RjQbTO9cCnj+UrfhulOH3mK7ACqE5t0IIQLxTZ6f9M1xGwz4IVYKFoTgocmZHklrl//06OuwCJd282TuldzPSdZScHKZA8dGFzLNop+05s/W0cKFRENITkbyl28leoqrqdmr6u5vi4zRUsilFODvg7nZsm86JymcNBfkGslicrqDBIpZ4hcQZJq3JZNIAgHpCoLduWenc+Q6B6Ovru9oe9jht8Ja6y+IwsXorWhZPubl6H1U9OlNA55CcpCW9XmHCWsksWMDrw4F6lktuGZq8OZN1DuzRXytb6Uh5M/VAXqKB2Mbl3uUeXlRzvuMEhwTLzjC0Sny8NFGLZLE4uGkt8zavvQGBRS8kQa9k2rg+ST6RkLmLfurEiXsEUFVo7vZ7mbIa3nHCU9VQcCUAI6q90PkuEqp48+YUmp0dOWoOPiNrv2+XOweH+YRcFnAY1J7b1LNm7fG+Obn62KRE7SOQ9/oFYdzQYKHLV8ynbtzo/RwAa8aUaebPCm84Pag+3eax2YdenV9goLy5UZxYAiMYjSrifMAL2747sKInILBYQI1kygRVyZtb+qivb0jYym5s+9Gf71B5RcsQYrIFMfs2gLVNoS9qMN+247/crYLKSl63NlH+5hsZlJoSLoTBPeyQ2eyQLllWkYN1ruN5+3SpqwiCoxLxaqqGjLtcbxZuNv3TTdhWxKqjEUCXMls9If3xc0vR4jfW1T2gizBWzkxxZ3+/T23ttngA5TOMokDCwMBkzc0bqySrddBHYw3paeE/IvPPQy2Zn1SEwFtugDNDcr4fG6ueAyvFy66wYsf4jAKfJd7iYJhUAPn5p908rlyw173XnKU/wXZwEoegiHEy7ffO76MJnn8vrH66YHlEwC7y4TbsOGwDhX4cg62HXYct9DavE47/BBgATwfHkFvClEEAAAAASUVORK5CYII=);
}
.icon {
    width: 43px;
    height: 43px;
    display: block;
    float: left;
    position: absolute;
    left:0;
}
/* Load pin images as data uris */

/*set pin style besides filters*/
#img_style {
    position:static; right:89px; height:30px; z-index:4;
}

.hidden {
    display:none !important;
}

@media (max-width:1024px) {
}

@media (max-width:950px) {
}

@media (max-width:768px) {
    .info {
        float:left;
        width:70%;
    }
    .slots {
        width:30%;
        overflow:hidden;
        line-height: 62px;
    }
}

@media (max-width:640px) {
    .info {
        float:left;
        width:60%;
    }
    .slots {
        width:40%;
        overflow:hidden;
        line-height: 62px;
    }
    #list .ui-li .ui-btn-inner a.ui-link-inherit, #list .ui-li-static.ui-li {
        width:70%;
    }
    .favourites-button div div label {
        width:33px;
    }
    .favourites-button div div label span {
        height:16px;
    }
    .favourites-button div div label span.ui-btn-inner {
        padding-left:0px !important;
    }
    .favourites-button div div label span span.ui-btn-text {
        display:none;
    }
    .favourites-button div div label span span.ui-icon {
        left:8px !important;
    }
}

@media (max-width:480px) {
    .top-menu-pois {
        width:90px;
        overflow:hidden;
    }
    
    #map-container {
        padding-top:77px;
    }
    .page {
        padding-top:77px;
    }
    
    .ui-header .ui-title, .ui-footer .ui-title {
        font-size:13px;
        margin-top: 1em;
    }
    
    .top-menu-pois.ui-field-contain .ui-select {
        width:100%;
    }
    .show-pois {
        font-size:11px;
        white-space: normal !important;
        line-height: 90%;
    }
    .top-menu-pois div a .ui-btn-inner {
        padding: 3px 11px 3px;
        line-height: 90%;
    }
    #poi .poi-data ul li span {
        width:100%;
    }
    .info {
        float:left;
        width:55%;
    }
    .slots {
        width:45%;
        overflow:hidden;
        line-height: 62px;
        font-size:100%;
    }
    .slots p {
        font-size:70%;
    }
    .info h3 {
        font-size:90%;
    }
    .info p {
        font-size:90%;
    }
}

@media (max-width:320px) {
    #map-container {
        padding-top:70px;
    }
    .page {
        padding-top:70px;
    }
    .top-menu-pois {
        width:26px;
    }
    
    .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
        padding: 0.2em 15px;
        font-size:14px;
    }
    
    .top-menu-pois div a .ui-btn-inner {
        height:20px;
    }
    
    .ui-btn-icon-right {
        height:24px;
    }
    li.ui-btn-icon-right {
        height: auto;
    }
    
    .ui-select .ui-btn-icon-right .ui-icon {
        left:3px;
        top:11px;
        height: 18px;
    }
    
    .top-menu-pois div a .ui-btn-inner .ui-icon, .settings-btn .ui-btn-inner .ui-icon {
        /*display:none;*/
    }
    
    .ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
        padding:0;
        margin:0;
    }
    
    .top-menu-pois div a .ui-btn-inner .ui-btn-text {
        /*width:43px;*/
        display:none;
    }
    
    .settings-btn.ui-btn-icon-left .ui-btn-inner {
        padding-left:8px;
        height:10px;
    }
    .settings-btn.ui-btn-icon-left .ui-btn-inner .ui-btn-text {
        /*font-size:11px;*/
        display: none;
    } 
    .ui-header .ui-title, .ui-footer .ui-title {
        font-size:11px;
    }
    #poi .poi-data ul li {
        font-size:90%;
    }
    #list .ui-li .ui-btn-inner a.ui-link-inherit, #list .ui-li-static.ui-li {
        width:65%;
    }
    .favourites-button {
        top:-7px;
    }

}

@media (max-width:240px) {
    .ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner {
        font-size:10px;
    }
    #list .ui-li .ui-btn-inner a.ui-link-inherit, #list .ui-li-static.ui-li {
        padding: 0 15px 0 1em;
        width:65%;
    }
    #list ul li a img {
        display:none;
    }
    #poi .poi-data ul li img {
        display:none;
    }
}
